# Core dependencies
py2neo==2021.2.3
pandas==1.5.3
numpy==1.24.3
spacy==3.5.3
tqdm==4.65.0
flask==2.3.2
requests==2.31.0
PyPDF2==3.0.1
biopython==1.81
lxml==4.9.2
python-dotenv==1.0.0

# NLP dependencies
nltk==3.8.1
scikit-learn==1.2.2

# Visualization
matplotlib==3.7.1
seaborn==0.12.2
networkx==3.1
pyvis==0.3.2 